extends layout

block content
  .container
    h1=title
    h3 Author: 
    label(for=name) Jannis Fröhlking (439599)
    br
    label j_froe09@wwu.de
    br
    h5
      div
          | Icons made by 
          a(href='http://www.freepik.com', title='Freepik') Freepik
          |  from 
          a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
          |  is licensed by 
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
          
